.header {
    text-align: center;
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.section__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__item > ul > li {
    padding-left: 10px;
}
